html
{
    scroll-behavior: smooth;
}
body{
    background-color: midnightblue;
}

.container{
    min-height: 10rem;
    max-width: 75rem;
    margin: auto;
    background-color: grey;
    padding: 1rem;
}
#pageheader{
    background-color: dark brown;
    min-height:auto;
    padding:1rem;

}

#logo{
    width:6.25rem; 
    height:6.25rem; 
    background-color: none; 
    background-image:url(Images/Logo.jpg);
    background-size:cover;
    border-radius: 50%;
}

#pageheader .container{
    background-color: none;
    min-height: auto;
    text-align: center;
}
#media{
    background-color: #4A5E64;
   min-height: auto;
    padding:1rem;
    background-image: url(Images/Paris\ hero\ image\ .jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 16 / 9;
    background-position: bottom center;
}
#career{
    background-color: rgb(119, 91, 63);
    min-height: 10rem;
    padding:1rem;
}
#pagecontent{
    background-color: #244878;
    min-height: 10rem;
    padding:1rem;
}
#semester1{
    background-color: rgb(53, 84, 45);
    min-height: 10rem;
    padding:1rem;
}
#semester2{
    background-color: rgb(104, 102, 93);
    min-height: 10rem;
    padding:1rem;
}
#pagefooter{
    background-color: rgb(67, 67, 67);
    min-height: auto;
    padding:1rem;
}
#pagefooter .container{
    text-align: center;
    min-height: auto;
}
#subfooter{
    background-color:rgb(36, 52, 84);
    min-height: 10rem;
    padding:1rem;
    text-align: center;
}

audio{
    display: block;
    margin: auto;
    background-color:maroon;
    border: 5px solid rgb(115, 82, 42);
}

@media screen and  (min-width:600px) 
{
        #pagecontent{
            background-color: blue;
    
        }
        #career{
            background-color: red;
        }
    
}

@media screen and  (min-width:600px) 
{
        #pagecontent{
            background-color: blue;
    
        }
        #career{
            background-color: red;
        }
    
}


